{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

commonpkgs=(
    "bash-completion"
    "git"
    "unzip"
    "tar"
    "wget"
    "curl"
)

os_release="$(cat /etc/os-release)"

[[ $(command -v dnf) ]] && {
    # Amazon Linux 2023
    [[ "$os_release" =~ 'PLATFORM_ID="platform:al2023"' ]] && {
        dnf install --quiet --assumeyes dnf-plugins-core > /dev/null
        # mise requires gpg-agent, AL2023 does not include it by default
        # swap gnupg2-minimal for the full gnupg2 package that includes gpg-agent
        dnf swap --quiet --assumeyes gnupg2-minimal.x86_64 gnupg2.x86_64 > /dev/null

        # swap curl-minimal for the full curl package to avoid dnf conflict
        dnf swap --quiet --assumeyes curl-minimal.x86_64 curl.x86_64 > /dev/null
    }
    dnfpkgs=(
        "findutils"
        "https://github.com/PowerShell/PowerShell/releases/download/v7.5.0/powershell-7.5.0-1.rh.x86_64.rpm"
        "procps-ng"
        "make"
        "glibc-langpack-en"
        "mise"
    )
    pkgs=("${commonpkgs[@]}" "${dnfpkgs[@]}")
    dnf config-manager --quiet --add-repo "https://mise.jdx.dev/rpm/mise.repo" > /dev/null
    dnf install --quiet --assumeyes "${pkgs[@]}" > /dev/null
}

[[ $(command -v apt-get) ]] && {
    aptpkgs=(
        "gpg"
        "gawk"
    )
    pkgs=("${commonpkgs[@]}" "${aptpkgs[@]}")
    apt-get update --quiet --yes > /dev/null
    apt-get install --quiet --yes "${pkgs[@]}" > /dev/null
    install -dm 755 /etc/apt/keyrings
    wget --quiet --output-document=- https://mise.jdx.dev/gpg-key.pub \
        | gpg --dearmor \
        | tee /etc/apt/keyrings/mise-archive-keyring.gpg 1> /dev/null
    echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.gpg arch=amd64] https://mise.jdx.dev/deb stable main" \
        | tee /etc/apt/sources.list.d/mise.list > /dev/null
    apt-get update --quiet --yes > /dev/null
    apt-get install --quiet --yes mise > /dev/null
}

[[ ! $(command -v oh-my-posh) ]] && {
    curl --silent https://ohmyposh.dev/install.sh | bash -s > /dev/null
}

blesh_path="$HOME/.local/share/blesh/ble.sh"
[[ ! -d "$blesh_path" ]] && {
    args+=( --recursive )
    args+=( --depth 1 )
    args+=( --shallow-submodules )
    args+=( --quiet )
    args+=( "https://github.com/akinomyoga/ble.sh.git" )
    git clone "${args[@]}" > /dev/null
    unset args
    make --silent --directory=ble.sh install PREFIX=~/.local
}

[[ ! $(command -v atuin) ]] && {
    # https://docs.atuin.sh/guide/installation/
    atuin_installer="https://github.com/atuinsh/atuin/releases/latest/download/atuin-installer.sh"
    args+=( --proto '=https' )
    args+=( --tlsv1.2 )
    args+=( --location )
    args+=( --silent )
    args+=( --show-error )
    args+=(  --fail )
    args+=( "$atuin_installer" )
    curl "${args[@]}" | sh
    unset args
}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
echo "Time to update this script for mac"
{{ end -}}