{{- $peacockColor := "#8465f6" -}}
{{- $devcontainer := (env "REMOTE_CONTAINERS") -}}
{{ if not $devcontainer }}
{{ $devcontainer = "false" }}
{{- end -}}

[data]
devcontainer = {{ $devcontainer | quote }}
{{- if eq $devcontainer "true" }}
peacockColor =  "#00bfff"
{{- else }}
peacockColor = {{ $peacockColor | quote}}
{{- end }}

[edit]
command = "code"
args = ["--wait"]

#[diff]
#command= "difft"
#args = ["{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]
#pager = "difft"
#command = "code"
#args = ["--wait", "--diff"]

[diff]
command = "git"
args = ["difftool", "--no-prompt", "--", "{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]