{{- $peacockColor := "#efceb7" -}}
{{- $devcontainer := (env "REMOTE_CONTAINERS") -}}
{{ if not $devcontainer }}
{{ $devcontainer = "false" }}
{{- end -}}

[data]
devcontainer = {{ $devcontainer | quote }}
{{- if eq $devcontainer "true" }}
peacockColor =  "#00bfff"
{{- else }}
peacockColor = {{ $peacockColor | quote}}
{{- end }}

[edit]
command = "code"
args = ["--wait"]

