{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

pkgs=(
    "git"
    "unzip"
    "tar"
    "findutils"
    "https://github.com/PowerShell/PowerShell/releases/download/v7.5.0/powershell-7.5.0-1.rh.x86_64.rpm"
    "wget"
    "procps-ng"
    "dnf-plugins-core"
    "make"
)

[[  $(command -v dnf) ]] && dnf install --quiet --assumeyes "${pkgs[@]}"

dnf config-manager --add-repo "https://mise.jdx.dev/rpm/mise.repo"
dnf install --quiet --assumeyes mise

# mise requires gpg-agent
# Amazon Linux 2023 comes with gnupg2-minimal which does not include gpg-agent
# below command swaps out -minimal for the full gnupg2 package that includes gpg-agent
dnf swap --quiet --assumeyes gnupg2-minimal.x86_64 gnupg2.x86_64

dnf config-manager --add-repo "https://cli.github.com/packages/rpm/gh-cli.repo"
dnf install --quiet --assumeyes gh --repo gh-cli

blesh_dir="$HOME/.local/share/blesh"
# Create dir if it doesn't exist
mkdir -p "$blesh_dir" && pushd "$blesh_dir"
git clone --recursive --depth 1 --shallow-submodules "https://github.com/akinomyoga/ble.sh.git"
make -C ble.sh
export BLESH_PATH="$blesh_dir/ble.sh/out/ble.sh"

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo "Time to update this script for mac"
{{ end -}}