{
  "files.associations": {
    "*.tftpl": "terraform",
    "*.ps1xml": "xml",
  },
  "breadcrumbs.enabled": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.enableDragAndDrop": true,
  "explorer.decorations.colors": true,
  "explorer.sortOrder": "type",
  "explorer.confirmDelete": false,
  "workbench.settings.editor": "json",
  "workbench.tree.indent": 15,
  "workbench.editor.titleScrollbarSizing": "large",
  "editor.bracketPairColorization.enabled": true,
  "editor.accessibilitySupport": "off",
  "editor.autoClosingQuotes": "never",
  "editor.autoSurround": "never",
  "editor.cursorBlinking": "expand",
  "editor.minimap.enabled": false,
  "editor.mouseWheelZoom": true,
  "editor.quickSuggestionsDelay": 1,
  "editor.renderWhitespace": "all",
  "editor.renderControlCharacters": true,
  "editor.tabCompletion": "on",
  "editor.suggestSelection": "first",
  "editor.snippetSuggestions": "bottom",
  "editor.wordSeparators": "`~!@#%^&*()-=+[{]}\\|;:'\",.<>/?",
  "editor.fontFamily": "'MesloLGM Nerd Font'",
  "editor.fontLigatures": true,
  "editor.fontSize": 15,
  "editor.semanticHighlighting.enabled": true,
  "editor.semanticTokenColorCustomizations": {
    "[]": {
      "enabled": true
    }
  },
  // zenMode - full screen editing changes
  "zenMode.centerLayout": false,
  "zenMode.fullScreen": true,
  "zenMode.hideLineNumbers": false,
  "window.title": "${activeEditorLong}",
  //files
  "files.trimTrailingWhitespace": true,
  "files.defaultLanguage": "powershell",
  "workbench.colorTheme": "Brackets Light Pro Bold",
  //TERMINAL
  "terminal.integrated.profiles.windows": {
    "winpwsh": {
      "path": "C:/Program Files/PowerShell/7/pwsh.exe",
    }
  },
  "terminal.integrated.profiles.linux": {
    "linpwsh": {
      "path": "/usr/bin/pwsh",
    }
  },
  "terminal.integrated.defaultProfile.windows": "winpwsh",
  "terminal.integrated.defaultProfile.linux": "linpwsh",
  "terminal.integrated.scrollback": 8000,
  "terminal.integrated.fontSize": 15,
  "terminal.integrated.fontFamily": "'MesloLGM Nerd Font'",
  "powershell.codeFormatting.preset": "Stroustrup",
  "powershell.codeFormatting.autoCorrectAliases": true,
  "powershell.developer.featureFlags": [
    "PSReadLine"
  ],
  "powershell.developer.editorServicesLogLevel": "Warning",
  "powershell.integratedConsole.showOnStartup": false,
  "powershell.integratedConsole.focusConsoleOnExecute": true,
  "powershell.startAutomatically": true,
  "powershell.scriptAnalysis.enable": true,
  "powershell.suppressAdditionalExeNotFoundWarning": true,
  "powershell.promptToUpdatePowerShell": false,
  "powershell.buttons.showPanelMovementButtons": true,
  "powershell.codeFormatting.useCorrectCasing": true,
  "powershell.codeFormatting.pipelineIndentationStyle": "IncreaseIndentationForFirstPipeline",
  "powershell.codeFormatting.useConstantStrings": true,
  "powershell.cwd": "c:\\code",
  "powershell.integratedConsole.suppressStartupBanner": true,
  "powershell.scriptAnalysis.settingsPath": "PSScriptAnalyzerSettings.psd1",
  //python
  // "python.formatting.provider": "black",
  // "python.formatting.blackArgs": ["--line-length", "110"],
  // "python.formatting.blackPath":"c:/python38/lib/site-packages/black",
  "python.formatting.provider": "autopep8",
  // "python.formatting.provider": "yapf",
  "python.linting.pycodestyleEnabled": true,
  "python.linting.flake8Enabled": false,
  "python.linting.pylintEnabled": false,
  "python.linting.enabled": true,
  "python.testing.pytestEnabled": true,
  "python.testing.unittestEnabled": false,
  "python.testing.nosetestsEnabled": false,
  "python.testing.autoTestDiscoverOnSaveEnabled": false,
  "python.languageServer": "Pylance",
  //yaml
  "yaml.customTags": [
    "!And",
    "!If",
    "!Not",
    "!Equals sequence",
    "!Or",
    "!FindInMap sequence",
    "!Base64",
    "!Cidr",
    "!Ref",
    "!Sub",
    "!GetAtt",
    "!GetAZs",
    "!ImportValue",
    "!Select sequence",
    "!Split",
    "!Join sequence",
    "!And sequence",
    "!If sequence",
    "!Not sequence",
    "!Equals",
    "!Or sequence",
    "!FindInMap",
    "!Join",
    "!Sub sequence",
    "!ImportValue sequence",
    "!Select",
    "!Split sequence"
  ],
  "redhat.telemetry.enabled": false,
  "security.allowedUNCHosts": [
    "wsl.localhost"
  ],
  "security.workspace.trust.untrustedFiles": "open",
  "json.schemas": [],
  "editor.inlineSuggest.enabled": true,
  "github.copilot.enable": {
    "*": true,
    "yaml": true,
    "plaintext": false,
    "markdown": false
  },
  "terminal.integrated.enableMultiLinePasteWarning": "never",
  //"editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "files.autoSave": "onFocusChange",
  "editor.formatOnPaste": true,
  "go.toolsManagement.autoUpdate": true,
  "workbench.startupEditor": "none",
  // Language Settings
  "[python]": {
    "editor.tabSize": 4,
    "editor.formatOnType": true,
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "ms-python.python"
  },
  "[powershell]": {
    "editor.tabSize": 4,
    "files.encoding": "utf8bom",
    "files.autoGuessEncoding": true,
    "editor.formatOnSave": true,
    "editor.parameterHints.enabled": false,
    "editor.defaultFormatter": "ms-vscode.powershell"
  },
  "[terraform]": {
    "editor.tabSize": 2
  },
  "[plaintext]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.wordWrap": "on",
    "editor.quickSuggestions": {
      "comments": "off",
      "strings": "off",
      "other": false
    }
  },
  "[markdown]": {
    "editor.unicodeHighlight.ambiguousCharacters": false,
    "editor.unicodeHighlight.invisibleCharacters": false,
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.wordWrap": "on",
    "editor.quickSuggestions": {
      "comments": "off",
      "strings": "off",
      "other": "off",
    }
  },
  "[json]": {
    "editor.tabSize": 2,
    "editor.formatOnSave": true
  },
  "[yaml]": {
    "editor.tabSize": 2,
    "editor.formatOnSave": true,
    "editor.insertSpaces": true,
    "editor.detectIndentation": false
  },
  "[xml]": {
    "editor.defaultFormatter": "redhat.vscode-xml",
    "editor.tabSize": 2,
  },
  "xml.fileAssociations": [
    {
      "systemId": "https://raw.githubusercontent.com/PowerShell/PowerShell/master/src/Schemas/Format.xsd",
      "pattern": "**/*.Format.ps1xml"
    },
    {
      "systemId": "https://raw.githubusercontent.com/PowerShell/PowerShell/master/src/Schemas/Types.xsd",
      "pattern": "**/*.ps1xml"
    }
  ],
  "[svg]": {
    //"editor.defaultFormatter": "jock.svg",
    "editor.wordWrap": "bounded",
    "editor.wordWrapColumn": 200
  },
  "[jsonc]": {
    "editor.defaultFormatter": "vscode.json-language-features"
  },
  "html.format.wrapLineLength": 150,
  "html.hover.documentation": false,
  "git.confirmSync": false,
  "window.zoomLevel": 1,
  "editor.guides.bracketPairs": true,
  "markdownlint.config": {
    "default": true,
    "MD007": {
      "indent": 4
    },
    "no-hard-tabs": false
  },
  "files.exclude": {
    "**/.git": false
  },
  "files.watcherExclude": {
    "**/.git/objects/**": false,
    "**/.git/subtree-cache/**": false,
    "**/node_modules/*/**": false
  },
  "[css]": {
    "editor.defaultFormatter": "vscode.css-language-features"
  },
  //"peacock.remoteColor": {{ .peacockColor | quote }},
  "peacock.color": {{ .peacockColor | quote }},
  "remote.SSH.remotePlatform": {
    "koprulu": "windows",
    "koprulu-labadm": "windows"
  },
  "hediet.vscode-drawio.resizeImages": true,
  "dotfiles.repository": "sociotechnodev/dotfiles",
  "dotfiles.targetPath": "~/.local/share/chezmoi",
  //"dotfiles.installCommand": ""
}